scraping
Hero1.tsx
scraper
explore-area-cards*
explore-areas*
communities*
app\communities\page.tsx
InfiniteList.tsx
db_move_to_neon
db_export_demo_hosting
normalized_tables_current_schema.txt
real_estate_backup_$(date +%Y%m%d).dump
response.html
db_move_to_neon
page_xxx.tsx
.venv
.vscode
.$Dubai Area Insight AI System.drawio.bkp
Dubai Area Insight AI System.drawio
.next
__pycache__
package-lock.json
__init__.py
app.ipynb

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

drizzle
icon-window.tsx
.env